@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


main {
    font-family: "Oswald", sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

#h4 {
    border-left: 4px solid yellow;
    padding: 10px;
}

#div>p {
    color: gray;
}

.aside1>h4 {
    color: red;
}

.h2 {
    border-bottom: 4px solid skyblue;
}

#span-focaccia {
    font-weight: 700;
}

li {
    margin-top: 10px;
}